
:root{
    font-family: "DM Sans", sans-serif;
     --primarycolor:rgb(94, 52, 134);
     --primarylight:rgba(135, 135, 192, 0.822);
}
body{
    background-color: var(--primary-dark);
    color: var(--primarylight);
    margin: 0;
    padding: 0;
    }

.imgFigure {
    width: 200;
    
}
figure{
    display: incline-block;
    padding: 0;
    margin: 0;
}
header{
    background-color: var (--primarylight)
    color: var(--primarycolor);
    padding-left: 10px;
}

#card-container {
    padding-left: 20vh;
}

.can-hover {
    transition: .3s;
}
.can-hover:hover{
    transform:scale(1.10);
    box-shadow: 10px 10px 50px white ;
    border-color:rgb(54, 54, 97);
    border-style: soild;
}

.can-hover:hover figcaption{
    background-color: var(--primary-dark)
}
.otherClass figcaption {
     text-decoration:none;
     color: var (--primarylight);
}